<h1 class="profile-title"><%= current_user.profile.name %> Profile</h1>

<div class="profile">

    <ul class="list-group profile-list-keys">

        <li class="list-group-item">City</li>
        <li class="list-group-item">Country</li>
        <li class="list-group-item">Description</li>
        <li class="list-group-item">Birthdate</li>

    </ul>

    <ul class="list-group profile-list-values">

        <li class="list-group-item"> <%= @profile.city %></li>
        <li class="list-group-item"><%= @profile.country %></li>
        <li class="list-group-item"> <%= @profile.description %></li>
        <% if @profile.birthdate %>
            <li class="list-group-item"> <%= @profile.birthdate.to_formatted_s(:long)[0..15] %></li>
        <% else %>
            <li class="list-group-item"> <%= @profile.birthdate %></li>
        <%end %>
    
    </ul>



</div>


 <%= link_to "Edit profile", profile_edit_path%>