<h1 class="profile-title"><%= @profile.name %> Profile</h1>

<div class="profile">

    <ul class="list-group profile-list-keys">

        <li class="list-group-item">City</li>
        <li class="list-group-item">Country</li>
        <li class="list-group-item">Description</li>
        <li class="list-group-item">Birthdate</li>

    </ul>

    <ul class="list-group profile-list-values">

        <li class="list-group-item"> <%= @profile.city %></li>
        <li class="list-group-item"><%= @profile.country %></li>
        <li class="list-group-item"> <%= @profile.description %></li>
        <li class="list-group-item"> <%= @profile.birthdate.to_formatted_s(:long)[0..15] %></li>
    
    
    </ul>



</div>

 <% if current_user?(@user) %>
    <%= link_to "Edit profile", edit_user_path(current_user)%>
 <% end %>

 <%= render '/shared/posts'%>