<div class="container" >

    <h1>Create a post</h1>
        <%= form_for(:session, url: login_path) do |f|%>
            <%= f.label :name %>
            <%= f.text_field :name, placeholder: 'Enter Username', class: 'form-control' %><br>
            <%= f.submit 'Submit', class: 'btn btn-info btn-block' %>
        <% end %>

        <span ><%= link_to "Sign up to the service", signup_path %> </span>
</div>
