<!DOCTYPE html>
<html>
  <head>
    <title>uFriends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- %=  favicon_link_tag(source = "favicon.ico") % -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if !current_user.nil? %> 
    <div class="container">
     <% end %>
      <%= render 'layouts/alerts'%>
      <%= render 'layouts/navbar'%>
      <%= yield %> 
     <% if !current_user.nil? %> 
      <div>
     <% end %>
    <%= render 'layouts/footer'%>
  </body>
</html>
